#!/usr/bin/make -f

export GOPATH=$(CURDIR)/obj-x86_64-linux-gnu
export GOBIN=$(CURDIR)/obj-x86_64-linux-gnu/bin

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	go build $(CURDIR)/cmd/velero
	$(CURDIR)/velero completion bash > obj-x86_64-linux-gnu/velero
	$(CURDIR)/velero completion zsh > obj-x86_64-linux-gnu/_velero

override_dh_auto_test:
	$(CURDIR)/velero --help

override_dh_auto_install:
	dh_auto_install -- --no-source
